* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root,body {
  min-block-size: 100vh;
}
:root {
  font-display: swap;
  font-family: 'Raleway',sans-serif;
  font-size: clamp(1rem,.75rem+1.5vw,2rem);
}
body {
  background-color: #292D32;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-block: 24px;
  margin-inline: 48px;
}
a {
  color: currentColor;
  text-decoration: none;
}
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
main {
  align-items: center;
  display: flex;
  justify-content: center;
}
.finals-timer div {
  align-items: center;
  /* background-color: red; */
  block-size: 2em;
  border-radius: 8px;
  /* box-shadow: inset 18px 18px 20px 20px #2A2D32; */
  display: flex;
  font-size: 5rem;
  font-weight: 600;
  inline-size: 110%;
  justify-content: center;
  padding: 16px;
}
.finals-timer div .timer {
  margin-inline-end: 16px;
}
footer {
  text-align: center;
}

@media screen and (max-width:450px) {
  .finals-timer div {
    flex-direction: column;
  }
  main {
    flex-direction: column;
  }
}